<header class="bg-white px-10 py-2">
  <nav class="flex justify-between items-center">
    <%= link_to "Pokedex", root_path, class: "text-2xl font-bold" %>
    <%= image_tag current_user.image_file, class: "size-10 rounded-full aspect-square object-cover" %>
  </nav>
</header>
