<header class="bg-white px-10 py-2 border-b">
  <nav class="flex justify-between items-center">
    <%= link_to "Pokedex", root_path, class: "text-2xl font-bold" %>
    <div class="relative flex items-center" data-controller="dropdown" data-action="click@document->dropdown#hide">
      <button type="button" class="flex-shrink-0" data-action="click->dropdown#toggle">
        <%= image_tag current_user.image_file, class: "size-10 rounded-full cursor-pointer aspect-square object-cover" %>
      </button>
      <div class="hidden absolute right-0 top-11" data-dropdown-target="content">
        <div class="flex flex-col bg-white rounded-md shadow-lg overflow-hidden">
          <%= button_to "Logout", destroy_user_session_path, method: :delete, data: { turbo: false }, class: "text-sm hover:bg-grey whitespace-nowrap px-2 py-1.5" %>
        </div>
      </div>
    </div>
  </nav>
</header>
